body {
    background-color: #25282c;
    color: rgb(196, 196, 196);
}

h1 {
    color: #f44336;
}

h4 {
    color: white;
    margin-bottom: 5px;
}

h6 {
    display: inline-block;
    padding-right: 10px;
    margin: 0px;
}

p {
    margin: 5px;
}

.col-10 {
    padding: 0px;
}

#matches {
    overflow-y: scroll;
    height: 450px;
    clear: both;
}

select {
    width: 200px;
}

.main {
    /* background-color: #2F3338; */
    margin-bottom: 80px;
}

.mdl-tabs__tab-bar {
    border-bottom: none;
    margin-bottom: 20px;
}

.mdl-tabs__tab-bar a {
    text-decoration: none;
    color: #62727b;
    letter-spacing: 2px;
    transition: 0.3s;
}

.mdl-tabs__tab-bar a:hover {
    color: white;
}

.mdl-textfield__input {
    color: white;
}

.mdl-textfield__label {
    color: #62727b;
}

.mdl-button {
    background-color: #f44336;
    color: white;
    margin: 20px 0px;
}

.form-group {
    color: #62727b;
    margin: 0px;
}

.form-control {
    background-color: #2F3338;
    border: 1px solid #62727b;
}

.custom-select {
    color: #62727b;
    background-color: #2F3338;
    border: 1px solid #62727b;
}

select.custom-select {
    color: white;
}

.mdl-list__item {
    padding: 5px 0px;
    color: white;
    border-bottom: 1px solid #62727b;
}

.mdl-list__item:last-child {
    padding: 5px 0px;
    color: white;
    border: none;
}

i {
    color: #62727b;
    padding-right: 10px;
}

.material-icons {
    color: #62727b;
}

.mdl-list__item .mdl-list__item-primary-content .mdl-list__item-icon {
    margin-right: 15px;
    color: #62727b;
}

/* Pokemon Stat Tab */

#stat-tab {
    overflow-y: scroll;
    height: 320px;
    clear: both;
}

.poke-list:hover {
    background-color: #62727b;
    transition: 0.4s;
    padding: 0px 10px;
}

aside {
    float: right;
}

.poke-sprite {
    width: 150px;
    height: 150px;
    padding-bottom: 10px;
}

.stat-text {
    display: inline-block;
    font-size: 16px;
    letter-spacing: .04em;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    color: #62727b;
    background-color: #2F3338;
    border-top: 4px solid  #f44336;
    z-index: 1;
}


/* BRACKETS */

#matches {
    padding-top: 30px;
}

.tools {
    display: none;
}

.demo {
    position: relative;
    left: -35px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}